::selection{ background-color: #E13300; color: white; }
::moz-selection{ background-color: #E13300; color: white; }
::webkit-selection{ background-color: #E13300; color: white; }

body {
    /*background: url("http://i64.tinypic.com/2rqequx.jpg") no-repeat;*/
    background: url("http://www.pageresource.com/wallpapers/wallpaper/crumpled-white-paper-texture-melemel-jpeg_260159.jpg") no-repeat;
    background-color:transparent;
    font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #888;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
}

a {
    color: #003399;
    background-color: transparent;
    font-weight: normal;
}

.title {
    position: relative;
    text-align: center;
    padding-top: 100px;
}

.title h1 {
	font-family: 'Mr Dafoe', cursive;
    font-size: 7em;
    font-weight: lighter;
	color: black;
}

.content h4{
	font-size: 2em;
    font-weight: 300;
	color: silver;
	padding-top: 60px;
}

div.content {
    text-align: center;
}
.content p
{
	color: #FFF;
	font-size: 16px;
	padding-top: 50px;
	font-family: 'Open Sans', sans-serif;
}

form {
    text-align: center;
}
/* Form Styles */
form label{
    display: block;
    margin: 0 auto;
}
form input[type=text]{
    width:500px;
    font-size: 20px;
    text-align: center;
    border: 1px solid #aaa;
    border-radius: 2px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-sizing: border-box;
    padding: 5px;
    margin-bottom: 20px;
    outline: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
form input[type=submit]{
    width: 150px;
    background: #198ad1;
    color: #fff;
    display: inline-block;
    padding: 0 20px;
    font-size: 16px;
    line-height: 2.6em;
    font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: 400;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.1);
    -moz-box-shadow: inset 0 -1px 0 rgba(0,0,0,.1);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.1);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-transform: capitalize;
    border: 0;
    cursor: pointer;
    text-align: center;
} 
