::selection{ background-color: #E13300; color: white; }
::moz-selection{ background-color: #E13300; color: white; }
::webkit-selection{ background-color: #E13300; color: white; }

body {
    font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: black;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    margin: 0px;
    margin-top: 30px;
}

a {
    color: #003399;
    background-color: transparent;
    font-weight: normal;
}

#container{
    padding: 0px;
}

.title {
    position: relative;
    text-align: center;
    padding-top: 100px;
}

#result-title {
    padding-top: 0px;
	font-size: 26px;
	color: #000;
}

div.content {
    text-align: center;
}

#results {
    width: 80%;
    margin: auto;
}

#general {
    background-color: silver;
    width: 70%;
    padding-left: 10%;
    padding-right: 20%;
    padding-bottom: 50px;
    padding-top: 20px;
    font-size: 1.1em;
}
#results p {
    font-size: 1.2em;

}

#results h1{
    padding: 0;
    margin: 0;
	text-color: #000
}

div.description > *{
    vertical-align: top;
}

div.description {
    margin-bottom: 30px;
}

.infod{
    font-weight: 800;
}

div.textd{
    width:70%;
    display: inline-block;
}
div.textd p {
    margin:0;
}

div.imaged{
    display: inline-block;
}

div.imaged img{
    max-width: 280px;
    max-height: 280px;
}
