::selection{ background-color: #E13300; color: white; }
::moz-selection{ background-color: #E13300; color: white; }
::webkit-selection{ background-color: #E13300; color: white; }

body {
    background: url("http://www.pageresource.com/wallpapers/wallpaper/crumpled-white-paper-texture-melemel-jpeg_260159.jpg") no-repeat;
	background-color:transparent;
    font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #888;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
}

a {
    color: #003399;
    background-color: transparent;
    font-weight: normal;
}

.title {
    position: relative;
    text-align: center;
    padding-top: 80px;
}

.title h1 {
	font-family: 'Mr Dafoe', cursive;
    font-size: 7em;
    font-weight: lighter;
	color: black;
}

.content h4{
	font-family: 'Cookie', cursive;
	font-size: 4em;
    font-weight: 300;
	color: black;
	padding-top: 40px;
}

div.content {
    text-align: center;
}
.content p
{
	color: #000;
	font-size: 14px;
	padding-top: 100px;
	font-family: 'Open Sans', sans-serif;
}

form {
    text-align: center;
}
/* Form Styles */
form label{
    display: block;
    margin: 0 auto;
}
form input[type=text]{
    width:200px;
    font-size: 20px;
    text-align: center;
    border: 1px solid #aaa;
    border-radius: 5px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-sizing: border-box;
    padding: 5px;
    margin: 15px;
    outline: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

button {
	-moz-box-shadow: 3px 4px 0px 0px #899599;
	-webkit-box-shadow: 3px 4px 0px 0px #899599;
	box-shadow: 3px 4px 0px 0px #899599;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #bab1ba));
	background:-moz-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-o-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bab1ba',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#000;
	font-family: 'Cookie', cursive;
	font-size:30px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bab1ba), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-o-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bab1ba', endColorstr='#ededed',GradientType=0);
	background-color:#bab1ba;
}
button:active {
	position:relative;
	top:1px;
}

