<html>
    <head>
        <title>Listicles</title>
        <link rel=stylesheet type=text/css href="/static/failed.css">
    </head>
    <body>
		<div class="content">
				<h1>Sorry, we failed to find a listicle !</h1>
				<p class = "center" > Most common reason is that the list doesn't exist on Wikipedia. </p>
				<p class = "center" > Try again with different search terms. </p>
				<img src="http://i66.tinypic.com/4r3mnk.jpg" alt="No list" style="width:350px;height:288px;" class="center" />
				
		</div>
	</body>
</html>
