 <html>
    <head>
        <title>Listicles</title>
        <link rel=stylesheet type=text/css href="/static/style.css">
        <link href='http://fonts.googleapis.com/css?family=Mr+Dafoe' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div id="container">
            <div class="wiki">{{wikiurl|safe}}</div>
            <div class="title" id="result-title">
                <h1>Listicle - {{prompt|safe}} by {{metric|safe}}</h1>

            </div>
            <div id="general">
                <div>{{vidlink|safe}}</div>
                <p>{{generaldesc|safe}}</p>
                <p style="text-align: center; margin:0px;"><b>{{caption|safe}}</b></p>
                <!-- <p>{{general1|safe}}</p> -->
                <!-- <p>{{general2|safe}}</p> -->
            </div>
            <div id="results">
                <h2>{{name0|safe}}</h2>
                <div class="description">
                    <div class="infod">{{info0|safe}}</div>
                    <div class="imaged"><img src="{{image0|safe}}"></div>
                    <div class="textd">{{desc0|safe}}</div>
                </div>

                <h2>{{name1|safe}}</h2>
                <div class="description">
                    <div class="infod">{{info1|safe}}</div>
                    <div class="imaged"><img src="{{image1|safe}}"></div>
                      <div class="textd">{{desc1|safe}}</div>
                </div>

                <h2>{{name2|safe}}</h2>
                <div class="description">
                    <div class="infod">{{info2|safe}}</div>
                    <div class="imaged"><img src="{{image2|safe}}"></div>
                    <div class="textd">{{desc2|safe}}</div>
                </div>

                <h2>{{name3|safe}}</h2>
                <div class="description">
                    <div class="infod">{{info3|safe}}</div>
                    <!-- <div class="textd">{{desc3|safe}}</div> -->
                    <div class="imaged"><img src="{{image3|safe}}"></div>
                    <div class="textd">{{desc3|safe}}</div>
                </div>

                <h2>{{name4|safe}}</h2>
                <div class="description">
                    <div class="infod">{{info4|safe}}</div>
                    <!-- <div class="textd">{{desc4|safe}}</div> -->
                    <div class="imaged"><img src="{{image4|safe}}"></div>
                    <div class="textd">{{desc4|safe}}</div>
                </div>

                <h2>{{name5|safe}}</h2>
                <div class="description">
                    <div class="infod">{{info5|safe}}</div>
                    <!-- <div class="textd">{{desc5|safe}}</div> -->
                    <div class="imaged"><img src="{{image5|safe}}"></div>
                    <div class="textd">{{desc5|safe}}</div>
                </div>

                <h2>{{name6|safe}}</h2>
                <div class="description">
                    <div class="infod">{{info6|safe}}</div>
                    <!-- <div class="textd">{{desc6|safe}}</div> -->
                    <div class="imaged"><img src="{{image6|safe}}"></div>
                    <div class="textd">{{desc6|safe}}</div>
                </div>

                <h2>{{name7|safe}}</h2>
                <div class="description">
                    <div class="infod">{{info7|safe}}</div>
                    <!-- <div class="textd">{{desc7|safe}}</div> -->
                    <div class="imaged"><img src="{{image7|safe}}"></div>
                    <div class="textd">{{desc7|safe}}</div>
                </div>

                <h2>{{name8|safe}}</h2>
                <div class="description">
                    <div class="infod">{{info8|safe}}</div>
                    <!-- <div class="textd">{{desc8|safe}}</div> -->
                    <div class="imaged"><img src="{{image8|safe}}"></div>
                    <div class="textd">{{desc8|safe}}</div>
                </div>

                <h2>{{name9|safe}}</h2>
                <div class="description">
                    <div class="infod">{{info9|safe}}</div>
                    <!-- <div class="textd">{{desc9|safe}}</div> -->
                    <div class="imaged"><img src="{{image9|safe}}"></div>
                    <div class="textd">{{desc9|safe}}</div>
                </div>
            </div>

</html>
