<html>
    <head>
        <title>Listicles</title>
        <link rel=stylesheet type=text/css href="/static/styles.css">
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>Listicles</h1>
                <p>Enter a film category:</p>
            </div>
            <div id="content">
                <form method="post" action="{{ url_for('List') }}">
                  <label for="prompt"></label>
                  <input type="text" name="prompt" /><br />
                  <input type="submit" value="List Me" />
                </form>
            </div>
</html>
 