 <html>
    <head>
        <title>Listicles</title>
        <link rel=stylesheet type=text/css href="/static/styles.css">
    </head>
    <body>
        <div id="container">
            <div class="title" id="result-title">
                <h1>Listicle - {{prompt}}</h1>
            </div>
            <div id="results">
                <h2>1. {{name0}}</h2>
                <p>{{desc0}}</p>
                <h2>2. {{name1}}</h2>
                <p>{{desc1}}</p>
                <h2>3. {{name2}}</h2>
                <p>{{desc2}}</p>
                <h2>4. {{name3}}</h2>
                <p>{{desc3}}</p>
                <h2>5. {{name4}}</h2>
                <p>{{desc4}}</p>
                <h2>6. {{name5}}</h2>
                <p>{{desc5}}</p>
                <h2>7. {{name6}}</h2>
                <p>{{desc6}}</p>
                <h2>8. {{name7}}</h2>
                <p>{{desc7}}</p>
                <h2>9. {{name8}}</h2>
                <p>{{desc8}}</p>
                <h2>10. {{name9}}</h2>
                <p>{{desc9}}</p>

            </div>
            
</html>
