 <html>
    <head>
        <title>Listicles</title>
        <link rel=stylesheet type=text/css href="/static/styles.css">
    </head>
    <body>
        <div id="container">
            <div class="title" id="result-title">
                <h1>Listicle - {{prompt}}</h1>
            </div>
            <div id="results">
                <h2>1. {{name0|safe}}</h2>
                <div class="description">
                    <div class="textd">{{desc0|safe}}</div>
                    <div class="imaged">{{image0|safe}}</div>
                </div>

                <h2>2. {{name1|safe}}</h2>
                <div class="description">
                    <div class="textd">{{desc1|safe}}</div>
                    <div class="imaged">{{image1|safe}}</div>
                </div>

                <h2>3. {{name2|safe}}</h2>
                <div class="description">
                    <div class="textd">{{desc2|safe}}</div>
                    <div class="imaged">{{image2|safe}}</div>
                </div>

                <h2>4. {{name3|safe}}</h2>
                <div class="description">
                    <div class="textd">{{desc3|safe}}</div>
                    <div class="imaged">{{image3|safe}}</div>
                </div>

                <h2>5. {{name4|safe}}</h2>
                <div class="description">
                    <div class="textd">{{desc4|safe}}</div>
                    <div class="imaged">{{image4|safe}}</div>
                </div>

                <h2>6. {{name5|safe}}</h2>
                <div class="description">
                    <div class="textd">{{desc5|safe}}</div>
                    <div class="imaged">{{image5|safe}}</div>
                </div>

                <h2>7. {{name6|safe}}</h2>
                <div class="description">
                    <div class="textd">{{desc6|safe}}</div>
                    <div class="imaged">{{image6|safe}}</div>
                </div>

                <h2>8. {{name7|safe}}</h2>
                <div class="description">
                    <div class="textd">{{desc7|safe}}</div>
                    <div class="imaged">{{image7|safe}}</div>
                </div>

                <h2>9. {{name8|safe}}</h2>
                <div class="description">
                    <div class="textd">{{desc8|safe}}</div>
                    <div class="imaged">{{image8|safe}}</div>
                </div>

                <h2>10. {{name9|safe}}</h2>
                <div class="description">
                    <div class="textd">{{desc9|safe}}</div>
                    <div class="imaged">{{image9|safe}}</div>
                </div>
            </div>

</html>
