<html>
    <head>
        <title>Listicles</title>
        <link rel=stylesheet type=text/css href="/static/styles.css">
		<link href='http://fonts.googleapis.com/css?family=Mr+Dafoe' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
    </head>
    <body>
		<div class="content">
				<div class="title">
					<h1>Listicles</h1></a>
				</div>
				<h4>Lists just got more interesting &#33;</h4>
				<div class="form">
				  <form method="post" action="{{ url_for('List') }}">
                  <!-- <label for="prompt"></label> -->
                  <input type="text" name="prompt" placeholder="Anything"/>
                  by
                  <input type="text" name="metric" placeholder="something"/><br/>
                  <button type="submit" value="Submit">List me!</button>
				</form>
				</div>
				<p> 2015 Northwestern University - Diane, Aishwarya & Dino </p>
				
		</div>
	</body>
</html>
